<html>
    <title>K Task Demo</title>
    <head>
        

    </head>
    <body>
        <div id="canvas_frame">
            <canvas id="canvas" style="position:absolute; background-color: gray; left:25%; top:25%; width:50%; height:50%;"></canvas>

        </div>

        <!--

        <div id='text_frame' style="margin-left: 25%">
            <font color="444444" size="3"></font>
            <h3>K task demo </h3><br>
            <font color="000000" size="3"></font>
            <p>The source code for this experiment is <a href="https://github.com/attlab/flask-k-task-demo">here.</a></p>
            <p>Press space to start.</p>
            <p>Press F is the square stayed the same and J if the square is different.</p>

        </div>
        

        

        <div id='F' style="position:absolute; font-size:30; background-color: gray; left:10%; top:50%; width:100px; height:50px; text-align: center;"><br>F</div>            
        <div id='J' style="position:absolute; font-size:30; background-color: gray; right:10%; top:50%; width:100px; height:50px"><br>J</div>
        <div id='space' style="position:absolute; font-size:30; background-color: gray; left:40%; bottom:5%; width:200px; height:50px"><br>Space</div>
        
        -->

        <script type="text/javascript" src="{{ url_for('static', filename='ktask.js')}}"></script>

        

    </body>    

</html>